<!DOCTYPE html>
<html>
<head>
  <title>Phoodography</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

<% if request.env['mobvious.device_type'] == :mobile %>
  <%= stylesheet_link_tag 'mobile', media: 'all' %>
<% else %>

  <%= stylesheet_link_tag 'application', media: 'all'%>
<% end %>

  
  <%= csrf_meta_tags %>
</head>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&	key=AIzaSyDNfxlmPoU9Mu4uToGcuYJQLwP7HfUqJv8">
</script>
<body class="pushable">

<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
